@use "../base/variables";

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - variables.$footer-height - 2 * variables.$content-margins);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

form>button {
    padding: 0.5rem 1.5rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: variables.$footer-height;
}

.animating-letters {
    margin-block: 3rem;
}

.letters-input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.divider {
    width: 5rem;
    margin: 2rem;
}