@use "../base/variables";

.board {
    background-color: variables.$color-background;
    width: 100%;
    height: 100%;
}

.grid-line {
    position: absolute;
    background-color: variables.$color-background-1;
    pointer-events: none;
}
  
  .grid-line.vertical {
    top: 0;
    bottom: 0;
    width: 1px;
}
  
  .grid-line.horizontal {
    left: 0;
    right: 0;
    height: 1px;
}