@use 'sass:color';
@use "../base/variables";

.keybinding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  color: variables.$color-text-accent;
  gap: 2px;
}

.keybinding > svg {
  margin-left: -2px;
  margin-top: 1px;
}