@use 'sass:color';
@use "../base/variables";

.controls-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

table.controls {
  text-align: left;
  border-spacing: 0.2rem 0.2rem;
  background-color: rgba(color.adjust(variables.$color-background, $lightness: -10%), 0.4);
  border-radius: 5px;
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
  margin-block: 0.4rem;
  width: 100%
}

.keybinding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  color: variables.$color-text-accent;
  gap: 2px;
}

.keybinding > svg {
  margin-left: -2px;
  margin-top: 1px;
}

.control-group-label {
  width: 100%;
  text-align: left;
  margin-top: 0.8rem;
  margin-bottom: -0.2rem;
  margin-left: 0.2rem;
  color: variables.$color-text-2;
  font-style: italic;
  font-kerning: 0.1rem;
  font-size: 0.9rem;
}

.control-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}