@use "../base/variables";

.dialog-container {
    position: relative;
    z-index: variables.$z-index-popup;
}

.dialog-backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0, 0.3);
}

.dialog-panel {
    max-width: 32rem;
    background-color: rgba(variables.$color-background, 0.7);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.dialog-title {
    margin: 0;
    margin-bottom: -0.8rem;
}

.dialog-description {
    color: variables.$color-text-1;
    font-size: 1rem;
}

.dialog-actions {
    display: flex;
    gap: 1rem;
}

.emoji-grid {
    font-family: monospace;
    white-space: pre;
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-color: rgba(variables.$color-background-1, 0.8);
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
}