@use "../base/variables";

.share-form {
    gap: 0.75rem;
    align-items: flex-start;
}

.share-content {
    width: 400px;
}

.copy-button {
    width: 138px;
    max-height: 100px;
}

.emoji-grid {
    font-family: monospace;
    white-space: pre;
    text-align: center;
    margin: 0;
    padding: 0.375rem 0.75rem;
    background-color: rgba(variables.$color-background-1, 0.8);
    border-radius: 8px;
}