@use "../base/variables";

.document-page-container {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    
    display: flex;
    flex-direction: column;
    
    font-family: 'Roboto', sans-serif;
}

.document-page-contents {
    min-height: calc(100vh - 2 * variables.$content-margins);
    padding: variables.$content-margins;
  }