@use "../base/variables";

.document-page-container {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    
    display: flex;
    flex-direction: column;
    
    font-family: 'Roboto', sans-serif;
}

.document-page-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include variables.responsive-content-margins;
}