@use "../base/variables";

.document-page-container {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin-inline: auto;
    
    display: flex;
    flex-direction: column;
  
    font-family: 'Roboto', sans-serif;
  }
  
  .document-page-contents {
    padding: variables.$content-margins;
  }