@use "../base/variables";

div.game-letter-shelf {
    border-radius: 20px;
    backdrop-filter: blur(10px);
    z-index: variables.$z-index-shelf;
    display: flex;
    flex-direction: row;
}

.shelf-drag-indicator {
    border-radius: 20px;
    border: 1px solid variables.$color-primary;
    z-index: variables.$z-index-shelf + 10;
}