@use 'sass:color';
@use "../base/variables";

.letter {
    background-image: url('/Warm Sunset.jpg');
    color: variables.$color-tile-text;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    font-weight: bold;

    border-radius: 0.5rem;
    box-sizing: border-box;
    
    z-index: 1;
    &.selected {
        border: 2px solid variables.$color-primary;
        z-index: 200;
    }

    &.shelved {
        z-index: variables.$z-index-shelf + 2;
    }

    &.interactive {
        cursor: pointer;
    }
}