$color-background: #242424;
$color-background-1: #3c3c3c;
$color-primary: #007bff;
$color-tile: #f8edbe;
$color-tile-1: #c4a869;
$color-tile-text: #1d1d1d;
$color-text: rgba(255, 255, 255, 0.87);
$color-text-1: rgba(255, 255, 255, 0.828);
$color-text-2: rgba(255, 255, 255, 0.7);
$color-text-accent: #96c9ff;
$color-link: #a4a4a4;

$content-margins: 40px;

$footer-height: 40px;